<header class="header">
  <a class="title" routerLink="/" >{{title}}</a>
  <nav>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/tasks">Tasks</a>
    <a routerLink="/teams">Teams</a>
    <a routerLink="/users">Users</a>
  </nav>
</header>
<main class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">Hometask 9</footer>
</main>

