$header-footer-height: 50px;
$left-right-indent: 40px;

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: $header-footer-height;
    background-color: antiquewhite;

    font-size: 1.5rem;

    .title {
        margin-left: $left-right-indent;
        margin-right: 100px;
        white-space: nowrap;
        text-decoration: none;
        color: black;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        padding: 0 5px;
        margin: 0 10px;
        color: gray;
        text-decoration: none;

        &:hover {
            color: black;
        }
    }
}

.main {
    height: 100%;
    padding-top: $header-footer-height;
    display: grid;
    overflow: auto;
    grid-template-rows: auto $header-footer-height;
}

.content {
    padding: 20px $left-right-indent;
}

router-outlet {
    display: none;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: $header-footer-height;
    background-color: antiquewhite;
    color: gray;

    &:hover {
        color: black;
    }
}