html {
    font-size: 16px;
    font-family: Consolas,monaco,monospace; 
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.page-name {
    margin: 0 auto 20px auto;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}