.row,
.head {
    width: 100%;
    display: grid;
    grid-template-columns: 3% 10% 8% 6% 43% 12% 12% 6%;
}
.head div {
    padding: 5px;
    border-left: solid 1px white;
    border-right: solid 1px white;
    background-color: antiquewhite;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
