<h2 class="page-name">Projects</h2>
<div class="container">
    <div class="head">
        <div>Id</div>
        <div>Name</div>
        <div>Author id</div>
        <div>Team id</div>
        <div>Description</div>
        <div>Deadline</div>
        <div>Created at</div>
        <div>Edit</div>
    </div>
        <porject-row class="row" *ngFor="let project of projects" [project]="project"></porject-row>
</div>
