.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    font-size: 1.6rem;

    a{
        background-color: antiquewhite;
        width: 240px;
        height: 240px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        border-radius: 50%;

        color: gray;
        text-decoration: none;

        &:hover {
            color: black;
            background-color: white;
            border: solid 1px black;
        }
        
    }
}