div {
    padding: 5px;
    border: solid 1px antiquewhite;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        background-color: antiquewhite;
        border: solid 1px white;
    }

    &:last-child{
        padding: 0;
    }
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}