<div>{{project?.id}}</div>
<div>{{project?.name}}</div>
<div>{{project?.authorId}}</div>
<div>{{project?.teamId}}</div>
<div>{{project?.description}}</div>
<div [deadlineSoon]="project" >{{project?.deadline | customDate}}</div>
<div>{{project?.createdAt | customDate}}</div>
<div><a routerLink="/projects/{{project?.id}}">>></a></div>
