<form *ngIf="project" (ngSubmit)="saveProject()" #projectForm="ngForm">

    <div class="group">
        <input type="text" [(ngModel)]="project.name" name="name" required minlength="4" autocomplete="off" #name="ngModel">
        <label>Name</label>
        <div class="custom-error required-error" *ngIf="name.errors?.required">
            Name is required.
        </div>
        <div class="custom-error minlength-error" *ngIf="name.errors?.minlength">
            Name must be at least 4 characters long.
        </div>
    </div>

    <div class="group">
        <input type="number" [(ngModel)]="project.authorId" name="authorId" required autocomplete="off" #authorId="ngModel">
        <label>Author id</label>
        <div class="custom-error required-error" *ngIf="authorId.errors?.required">
            Author id is required.
        </div>
    </div>

    <div class="group">
        <input type="number" [(ngModel)]="project.teamId" name="teamId" required autocomplete="off" #teamId="ngModel">
        <label>Team id</label>
        <div class="custom-error required-error" *ngIf="teamId.errors?.required">
            Team id is required.
        </div>
    </div>

    <div class="group">
        <input type="text" [(ngModel)]="project.description" name="description" autocomplete="off" #description="ngModel">
        <label>Description</label>
    </div>

    <div class="group">
        <input type="date" [ngModel] ="project.deadline | date:'yyyy-MM-dd'" name="deadline" required autocomplete="off" (ngModelChange)="project.deadline = $event" #deadline="ngModel">
        <label>Deadline</label>
        <div class="custom-error required-error" *ngIf="deadline.errors?.required">
            Deadline is required.
        </div>
    </div>

    <div *ngIf="saveResult != 'nothing'">
        {{message}}
    </div>

    <div class="btn-box">
        <button type="submit" [disabled]="projectForm.invalid">submit</button>
        <button type="button" routerLink="/projects">back</button>
    </div>
</form>

 <button class="btn-delete" *ngIf="project" type="button" (click)="deleteProject()">delete</button>   
<p *ngIf="!project">Not found</p>
