.group{

    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: auto;
    width: 60%;
    align-items: center;

    input {
        margin: 5px;
        border: solid 1px gray;
        border-radius: 5px;

        &:focus {
            background-color: antiquewhite;
            
        }
    }

    label {
        margin: 5px;
    }
}

.btn-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 60%;
    align-items: center;

    button {
        margin: 5px;
        font-size: 1.1rem;
        font-weight: bolder;
        background-color: antiquewhite;
        border: solid 1px gray;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: bisque;
        }
    }
}
.btn-delete {
    width: 30%;
    margin: 20px auto;

    display: block;

    font-size: 1.1rem;
        font-weight: bolder;
        background-color: firebrick;
        border: solid 1px gray;
        color: white;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color:darkred;
        }
}